.styleTop {
    color: #3d2d3d;
    background: #00C6A7;
}
.styleBottom {
    color: #ffffff;
    background: #00362e;
}
.list-item a{
    color: #3d2d3d !important;
    text-decoration: underline;
}
.legal a {
    color: #ffffff !important;
    text-decoration: underline;
}